<header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="{{ site.url }}/">        
          <svg id="i-home" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32" height="32" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
            <path d="M12 20 L12 30 4 30 4 12 16 2 28 12 28 30 20 30 20 20 Z" />
          </svg>
        </a>
        
        <!-- BUTTON START -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
                      
            
            <!-- HOME -->
            <li class="nav-item">
              <a class="nav-link" href="{{ site.url }}/">Home</a>
            </li>
            
            
            <!-- ABOUT -->
            <li class="nav-item">
              <a class="nav-link" href="{{ site.url }}/about/">About</a>
            </li>
            
            
            <!-- PROJECTS -->
            <li class="nav-item">
              <a class="nav-link" href="{{ site.url }}/projects/">Projects</a>
            </li>
            
            
            <!-- RESUME -->
            <li class="nav-item">
              <a class="nav-link" href="{{ site.url }}/resume/">Resume</a>
            </li>
            
            
            <!-- CONTACT -->
            <li class="nav-item">
              <a class="nav-link" href="{{ site.url }}/contact/">Contact</a>
            </li>
          </ul>
          
          
      </div>
    </nav>

</header>


